@model IEnumerable<TN.DVDCentral.BL.Models.OrderItem>

<table id="orderitems" class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ImagePath)</th> 
                <th>@Html.DisplayNameFor(model => model.MovieTitle)</th>
                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                <th>@Html.DisplayNameFor(model => model.Cost)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> <img src="~/images/@item.ImagePath" id="movieImage" onclick="on('/images/@item.ImagePath')" class="imagePropSmall" alt="@item.MovieTitle" /></td>
                        <td>@Html.DisplayFor(modelItem => item.MovieTitle)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cost)</td>
                <td><a class=" btn btn-sm btn-primary" asp-controller="OrderItem" asp-route-id="@item.Id" asp-action="Delete" Text="Delete Order Item"> Delete Order Item </a></td>
                    </tr>
                }
        </tbody>
</table>
<script type="text/javascript" class="init">
    console.log("hit it");
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#orderitems').DataTable({
            "lengthMenu": [[5, 10, 25, 30, -1], [5, 10, 25, 30, "All"]]
        });
    });
</script>